.general_box {
    height: auto;
}

.communication_box {
    width: 847px;
    height: auto;
    background-color: #ffffff;
    margin-top: 84px;
    margin-left: 95px;
    display: flex;

}

.h1_write {
    width: 177px;
    height: 21px;
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
}

.form_box {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
input{
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}
.name_inp {
    width: 265px;
    height: 35px;
    margin-bottom: 21px;
}

.message_inp {
    margin-bottom: 21px;
    width: 265px;
    height: 95px;
    resize: none;
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

.button_inp {
    margin-left: 151.2px;
    width: 120px;
    height: 35px;
    background-color: #fb6470;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
}

.transverse_line {
    margin-top: 35px;
    width: 1px;
    height: 250px;
    background-color: #000000;
    opacity: 0.2;
    margin-left: 78px ;
}

.other_info {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
}

.Location_box {
    display: flex;
    margin-bottom: 57px;
}
.location_img {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/img/Home.png");
}
.desc_box{
    margin-left: 46px;
}

.info_name {
    margin-bottom: 23px;
    width: 71px;
    height: 15px;
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
}

.info_desc {
    width: 258px;
    height: 15px;
    opacity: 0.8;
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
}

.Email_box {
    display: flex;
    margin-bottom: 57px;
}

.Email_img {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/img/Mail_2.png");
}

.Phone_box {
    display: flex;
}

.Phone_img {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/img/Phone.png");
}